<div class="row col-lg-12">
	<div class="col-lg-4">
		<div class="row col-lg-12">
			<div class="col-lg-2">
				<img src="" id="player-image">
			</div>
			<div class="col-lg-10">
				<div class="row col-lg-12 titulo" id="player-title">
					
				</div>
				<div class="row col-lg-12 artista" id="player-artist">
					
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="row col-lg-12">
			<audio controls id="player">
				<source id="mp3-source" src="" type="audio/mpeg">
			</audio>
		</div>
	</div>
	<div class="col-lg-4">
		
	</div>
</div>